{{page-title 'FrontEnd'}}
<NavBar />

<MapComp @signs={{this.signsOnMap}} @instances={{this.model.instances}} @onMapClick={{this.setClickedPosition}}  />

<AddSign::AddSignContainer
  @isActive={{this.showAddSign}}
  @signs={{this.model.signs}}
  @clickedPosition={{this.clickedPosition}}
>
  <p>sdfdssfd</p>
</AddSign::AddSignContainer>

