{{page-title 'FrontEnd'}}
<NavBar />

<MapComp @signs={{this.signsOnMap}} @onMapClick={{this.setClickedPosition}} />

<AddSign::AddSignContainer
  @isActive={{this.showAddSign}}
  @signs={{this.model.signs}}
>
  <p>sdfdssfd</p>
</AddSign::AddSignContainer>