{{page-title 'FrontEnd'}}
<NavBar />

<p>{{this.clickedPosition}}</p>
<MapComp
  @lat={{this.lat}}
  @lng={{this.lng}}
  @zoom={{this.zoom}}
  @markers={{this.markers}}
  @onMapClick={{this.setClickedPosition}}
/>

{{#each model.signs as |sign|}}
  <img src={{sign.image}} />
{{/each}}