{{page-title 'FrontEnd'}}
<NavBar />

<MapComp @signs={{this.signsOnMap}} @instances={{this.instances}} @onMapClick={{this.setClickedPosition}}  />

<AddSign::AddSignContainer @isActive={{this.showAddSign}}>
  <p>sdfdssfd</p>
</AddSign::AddSignContainer>

{{#if this.clickedPosition}}
  <RoadSignList @signs={{this.model.signs}} @onSelect={{this.addSignToMap}} />
{{/if}}