<LeafletMap
  @lat={{this.lat}}
  @lng={{this.lng}}
  @zoom={{this.zoom}}
  @onClick={{this.onMapClick}}
  as |layers|
>
{{#if this.view}}
  <layers.tile
    @url='https://tile.openstreetmap.be/osmbe/{z}/{x}/{y}.png'
  />
  {{else}}
  <layers.tile @url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"/>
{{/if}}
  
  {{#each @signs as |sign|}}
    <layers.marker
      @location={{sign.location}}
      @icon={{sign.marker}}
      as |markerLayer|
    >
      <markerLayer.popup>
        <h3>{{sign.content.meaning}}</h3>
      </markerLayer.popup>
    </layers.marker>
  {{/each}}
  {{#each this.instances as |instance|}}
    <layers.marker
            @location={{instance}}
            as |markerLayer|
    >
    </layers.marker>
  {{/each}}
</LeafletMap>

{{#each this.signs as |sign|}}
  <p>{{sign.content.meaning}}</p>
{{/each}}

<Views @view={{this.view}} @onClick={{this.updateView}}/>