<LeafletMap
  @lat={{this.lat}}
  @lng={{this.lng}}
  @zoom={{this.zoom}}
  @onClick={{this.onMapClick}}
  as |layers|
>
  <layers.tile
    @url='https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
  />
  {{#each @signs as |sign|}}
    <layers.marker
      @location={{sign.location}}
      @icon={{sign.marker}}
      as |markerLayer|
    >
      <markerLayer.popup>
        <h3>{{sign.content.meaning}}</h3>
      </markerLayer.popup>
    </layers.marker>
  {{/each}}
  {{#each this.instances as |instance|}}
    <layers.marker
            @location={{instance}}
            as |markerLayer|
    >
    </layers.marker>
  {{/each}}
</LeafletMap>

{{#each this.signs as |sign|}}
  <p>{{sign.content.meaning}}</p>
{{/each}}