{{page-title 'RoadBase'}}
<NavBar />
<Taskbar
  @allowAddSign={{this.allowAddSign}}
  @onClick={{this.updateAllowAddSign}}
/>

<div class='content'>

  {{#if this.showClickOnMap}}
    <div class='toaster'>
      <p>Klik op de kaart om een locatie te selecteren.</p>
    </div>
  {{/if}}
  <MapComp
    @signs={{this.signsOnMap}}
    @instances={{this.model.instances}}
    @onMapClick={{this.setClickedPosition}}
    @onDetailsClick={{this.toggleShowSignDetails}}
  />

  <AddSign::AddSignContainer
    @isActive={{this.showAddSign}}
    @signs={{this.model.signs}}
    @clickedPosition={{this.clickedPosition}}
    @onClose={{this.closeAddSign}}
    @onSave={{this.model.saveNewSign}}
    @onUpdate={{this.model.cacheNewSign}}
  />

  <SignDetails
    @detailsActive={{this.showSignDetails}}
    @onClose={{this.toggleShowSignDetails}}
    @signDetails={{this.signDetails}}
  />
</div>