{{page-title 'FrontEnd'}}
<NavBar />
<Taskbar
  @allowAddSign={{this.allowAddSign}}
  @onClick={{this.updateAllowAddSign}}
/>

{{!-- <p {{on 'click' this.randomAction}}>sdfdssfd</p> --}}
<div class='content'>
  <MapComp
    @signs={{this.signsOnMap}}
    @instances={{this.model.instances}}
    @onMapClick={{this.setClickedPosition}}
  />

  <AddSign::AddSignContainer
    @isActive={{this.showAddSign}}
    @signs={{this.model.signs}}
    @clickedPosition={{this.clickedPosition}}
    @onClose={{this.closeAddSign}}
    @onSave={{this.model.saveNewSign}}
  />
</div>