<section>
  <AuHeading @level="3" @skin="3">
    Eigenaar & plaatsingsdatum
  </AuHeading>
  <AuContent>
    <p>Defineer wie verantwoordelijk is voor het verkeersbord & de plaatsingsdatum</p>
    <AuLabel for="sign-authority" class="au-c-la">Autoriteit</AuLabel>
    <PowerSelect
      id="sign-authority"
      @allowClear={{false}}
      @searchEnabled={{true}}
      @loadingMessage="Aan het laden..."
      @noMatchesMessage="Geen resultaten"
      @searchMessage="Typ om te zoeken"
      @options={{this.cities}}
      @selected={{this.authority}}
      @onChange={{this.onAuthoritySelect}} as |authority|>
      <p>{{authority}}</p>
    </PowerSelect>
    <AuLabel for="sign-date">Geplande datum of plaatsingsdatum</AuLabel>
    <AuDatePicker @value={{this.placementDate}} @onChange={{this.onPlacementDateSelect}} />
  </AuContent>
</section>