<section>
  <AuHeading @level='3' @skin='3'>
    Positie
  </AuHeading>

  <p>Defineer de positie & toebehorende straten van het bord.</p>

  <AuHeading @level='4' @skin='4' class="position__subtitle">
    Toebehorende straten
  </AuHeading>

  <form class="streets-form">
    <AuInput id='input-regular' class="hidden streets-form__input" placeholder="Voeg een straat toe ..." />
    <AuInput id='input-regular-1' class="position__street_input" placeholder="Voeg een straat toe ..." {{on "blur" this.addStreet}} />
  </form>

  <AuButton
    @skin='primary'
    @icon='add'
    @iconAlignment='left'
    {{on 'click' this.addStreetInput}}>
    Voeg een andere straat toe
  </AuButton>

  <AuHeading @level='4' @skin='4' class="position__subtitle">
    Rastercoördinaten
  </AuHeading>

  <div>
    <div class="position__coordinate">
      <div class="position__coordinate__section">
        <AuInput id='input-regular-latdeg' class="position__coordinate__section__number" @value={{@clickedPosition.latDeg}} />
        <span>°</span>
      </div>

      <div class="position__coordinate__section">
        <AuInput id='input-regular-latmin' class="position__coordinate__section__number" @value={{@clickedPosition.latMin}} />
        <span>'</span>
      </div>

      <div class="position__coordinate__section">
        <AuInput id='input-regular-latsec' class="position__coordinate__section__number" @value={{@clickedPosition.latSec}} />
        <span>''</span>
      </div>
      <span>{{@clickedPosition.latDirection}}</span>
    </div>

    <div class="position__coordinate">
      <div class="position__coordinate__section">
        <AuInput id='input-regular-londeg' class="position__coordinate__section__number" @value={{@clickedPosition.lonDeg}} />
        <span>°</span>
      </div>
      <div class="position__coordinate__section">
        <AuInput id='input-regular-lonmin' class="position__coordinate__section__number" @value={{@clickedPosition.lonMin}} />
        <span>'</span>
      </div>

      <div class="position__coordinate__section">
        <AuInput id='input-regular-lonsec' class="position__coordinate__section__number" @value={{@clickedPosition.lonSec}} />
        <span>''</span>
      </div>
      <span>{{@clickedPosition.lonDirection}}</span>
    </div>
  </div>


</section>