<div class='add-sign-container {{if @isActive 'is-showing'}}'>
  <div class='add-sign-header'>
    <div class='add-sign-header__title-container'>
      <AuHeading @level='2' @skin='2'>Verkeersbord maken</AuHeading>
      <AuIcon
        class='icon'
        @icon='nav-right'
        @alignment='left'
        @size='large'
        @ariaHidden={{true}}
        {{on 'click' this.onClose}}
      />
    </div>
    <div class='add-sign-nav'>
      <hr />
      <div class='add-sign-nav__container'>
        {{#each this.stepTitles as |title index|}}
          <div
            class='add-sign-nav__item
              {{if (eq this.currentTitle title) 'add-sign-nav__item--active'}}
              {{if
                (is-lower index this.currentStep)
                'add-sign-nav__item--completed'
              }}
              '
            {{on 'click' (fn this.setCurrentStep index)}}
          >
            {{#if (is-lower index this.currentStep)}}
              <AuBadge @icon='check' />
            {{else}}
              <AuBadge @number={{(increment index 1)}} />
            {{/if}}
            <p class='nav-item__title'>{{title}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class='add-sign-content'>
    {{#if (eq this.currentStep 0)}}
      <AddSign::AddSignOne @signs={{@signs}} />
    {{/if}}

    {{#if (eq this.currentStep 1)}}
      {{! insert component for screen 1 }}
      <AddSign::AddSignTwo @clickedPosition={{@clickedPosition}} />
    {{/if}}

    {{#if (eq this.currentStep 2)}}
      {{! insert component for screen 2 }}
      <AddSign::AddSignThree />
    {{/if}}

    {{#if (eq this.currentStep 3)}}
      <AddSign::AddSignFour />
    {{/if}}

    {{#if (eq this.currentStep 4)}}
      {{! insert component for screen 4 }}
      <AddSign::AddSignFive />
    {{/if}}
  </div>
  <div class='add-sign-footer'>
    {{#if this.isNotFirstStep}}
      <AuButton
        @skin='secondary'
        @icon='arrow-left'
        @iconAlignment='left'
        {{on 'click' this.decrementCurrentStep}}
      >
        Terug
      </AuButton>
    {{else}}
      <div></div>
    {{/if}}
    <AuButton
      @skin='{{if this.isLastStep 'primary' 'secondary'}}'
      @icon='arrow-right'
      @iconAlignment='right'
      {{on 'click' this.incrementCurrentStep}}
    >
      {{#if this.isLastStep}}
        Opslaan
      {{else}}

        Volgende
      {{/if}}
    </AuButton>
  </div>
</div>