<section>
  <AuHeading @level='3' @skin='3'>
    Hoogte
  </AuHeading>

  <p>
    <AuLabel for='input-regular'>Definieer de hoogte van de paal in meter.</AuLabel>

    <span id='pole-height'>
      <AuInput
        id='input-regular'
        {{on 'input' this.updatePoleheight}}
        value={{this.poleHeight}}
      />
      <p>m</p>
    </span>
  </p>
</section>

<section>
  <div class='section-title-container'>

    <AuHeading @level='3' @skin='3'>
      Borden
    </AuHeading>

    <p>Overblijvende hoogte: {{this.remainingHeight}}m</p>
  </div>

  <AuButton
    @skin='{{if this.showSignSelector 'secondary' 'primary'}}'
    {{on 'click' this.toggleShowSignSelector}}
  >
    {{#if this.showSignSelector}}
      Verberg bordenlijst
    {{else}}
      Bord toevoegen
    {{/if}}
  </AuButton>
  {{#if this.showSignSelector}}
    <RoadSignList @signs={{@signs}} @onSelect={{this.setSelectedSign}} />
  {{/if}}

  <div class='selected-signs'>
    <DragSortList
      @items={{this.selectedSigns}}
      @dragEndAction={{this.updateSignsOrder}}
      as |sign|
    >
      <AddSign::SelectedSignItem
        @data={{sign}}
        @locationInList={{sign.position}}
        @updateSign={{this.updateSign}}
      />
    </DragSortList>
  </div>
</section>