<div class='add-sign-container {{if @isActive 'is-showing'}}'>
  <div class='add-sign-header'>
    <AuHeading @level='2' @skin='2'>Verkeersbord maken</AuHeading>
    <div class='add-sign-nav'>
      {{#each this.stepTitles as |title index|}}
        <div
          class='add-sign-nav__item
            {{if (eq this.currentTitle title) 'add-sign-nav__item--active'}}
            {{if
              (is-lower index this.currentStep)
              'add-sign-nav__item--completed'
            }}
            '
          {{on 'click' (fn this.setCurrentStep index)}}
        >
          {{#if (is-lower index this.currentStep)}}
            <AuBadge @icon='check' />
          {{else}}
            <AuBadge @number={{(increment index 1)}} />
          {{/if}}
          <p class='nav-item__title'>{{title}}</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class='add-sign-content'>
    {{#if (eq this.currentStep 0)}}
      <AddSign::AddSignOne />
    {{/if}}

    {{#if (eq this.currentStep 1)}}
      {{! insert component for screen 1 }}
      <AddSign::AddSignTwo  @clickedPosition={{@clickedPosition}} />
    {{/if}}

    {{#if (eq this.currentStep 2)}}
      {{! insert component for screen 2 }}
      <AddSign::AddSignThree />
    {{/if}}

    {{#if (eq this.currentStep 3)}}
      <AddSign::AddSignFour/>
    {{/if}}

    {{#if (eq this.currentStep 4)}}
      {{! insert component for screen 4 }}
      <AddSign::AddSignFive />
    {{/if}}
  </div>
  <div class='add-sign-footer'>
    <AuButton
      @skin='secondary'
      @icon='arrow-left'
      @iconAlignment='left'
      {{on 'click' this.decrementCurrentStep}}
    >
      Terug
    </AuButton>
    <AuButton
      @skin='secondary'
      @icon='arrow-right'
      @iconAlignment='right'
      {{on 'click' this.incrementCurrentStep}}
    >
      Volgende
    </AuButton>
  </div>
</div>