<section>
  <AuHeading @level='3' @skin='3'>
    Hoogte
  </AuHeading>

  <form>
    <p>
      <AuLabel for='input-regular'>Definieer de hoogte van de paal in meter.</AuLabel>

      <AuInput id='input-regular' />
    </p>
  </form>
</section>

<section>
  <div class='section-title-container'>

    <AuHeading @level='3' @skin='3'>
      Borden
    </AuHeading>
  </div>

  <AuButton @skin='secondary' {{on 'click' this.toggleShowSignSelector}}>
    Bord toevoegen
  </AuButton>
  {{#if this.showSignSelector}}
    <RoadSignList @signs={{@signs}} @onSelect={{this.setSelectedSign}} />
  {{/if}}

  <div class='selected-signs'>
    {{!-- {{#each this.selectedSigns as |sign index|}}
      <AddSign::SelectedSignItem
        @data={{sign}}
        @locationInList={{index}}
        @updateSign={{this.updateSign}}
      />
    {{/each}} --}}
    <DragSortList
      @items={{this.selectedSigns}}
      @dragEndAction={{this.updateSignsOrder}}
      as |sign|
    >
      <AddSign::SelectedSignItem
        @data={{sign}}
        @locationInList={{sign.position}}
        @updateSign={{this.updateSign}}
      />
    </DragSortList>
  </div>
</section>